<launch>
  <!-- Launch the turtlebot2 -->
  <include file="$(find trcp_bringup)/launch/turtlebot_minimal_kobuki.launch">
  </include>

  <!-- Launch the kinect -->
  <include file="$(find trcp_bringup)/launch/turtlebot_fake_laser_freenect.launch">
  </include>

  <!-- Launch the navigation -->
  <include file="$(find trcp_basic_function)/launch/tb_nav.launch">
    <arg name="map" value="roboworks.yaml" />
  </include>


  <!-- Launch the rviz 
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find trcp_rviz_launchers)/rviz/gmapping.rviz"/>
-->


  <!-- Start the basic functionarity task -->
  <node pkg="trcp_basic_function" type="movetest.py" name="movetest" output="screen">
    <param name="rest_time" value="10" />
    <param name="fake_test" value="false" />
  </node>



</launch>
